<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- HikariCP settings for Hibernate -->
    <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
    <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/ticket-booking-system</property>
    <property name="hibernate.hikari.dataSource.user">postgres</property>
    <property name="hibernate.hikari.dataSource.password">12345</property>
    <property name="hibernate.hikari.minimumIdle">5</property>
    <property name="hibernate.hikari.maximumPoolSize">20</property>
    <property name="hibernate.hikari.idleTimeout">30000</property>
    <property name="hibernate.hikari.poolName">HibernateHikariCP</property>

    <!-- Hibernate settings -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <mapping class="com.example.ticketbookingsystem.entity.User"/>
    <mapping class="com.example.ticketbookingsystem.entity.Arena"/>
    <mapping class="com.example.ticketbookingsystem.entity.Sector"/>
    <mapping class="com.example.ticketbookingsystem.entity.Row"/>
    <mapping class="com.example.ticketbookingsystem.entity.Seat"/>
    <mapping class="com.example.ticketbookingsystem.entity.SportEvent"/>
    <mapping class="com.example.ticketbookingsystem.entity.Ticket"/>
    <mapping class="com.example.ticketbookingsystem.entity.UserCart"/>
    <mapping class="com.example.ticketbookingsystem.entity.PurchasedTicket"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>