body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.arena-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.arena-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(20% - 10px);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.form-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="datetime-local"]{
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container select {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 120px;
    overflow-y: auto;
}

.form-container .button-group {
    display: flex;
    justify-content: space-between;
}

.form-container .button-group button {
    margin-top: 10px;
}

.error-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.error-title {
    color: #d9534f;
    font-size: 24px;
    margin-bottom: 10px;
}
.error-message {
    color: #333;
}

.error {
    color: red;
    margin-top: 10px;
}

.filter-bar {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.filter-bar form {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.filter-bar .form-item {
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.filter-bar button {
    align-self: center;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.filter-bar button:hover {
    background-color: #555;
}
.filter-bar input[type="text"]{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.filter-bar input[type="datetime-local"]{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.filter-bar select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 120px;
    overflow-y: auto;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 120px;
}
.pagination a {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}
.pagination a:hover {
    background-color: #eaeaea;
}
.pagination a.pagination-arrow {
    font-size: 1.2em;
}